@model EmprestimoModel
@*
  
    Layout = ViewBag.LayoutPagina;
*@
@{

    Layout = ViewBag.LayoutPagina;
}


@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-dark" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-dark" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<div class="container d-flex gap-5 justify-content-center align-items-center mt-5">
    <div class="img">
        <img src="/imagem/@Model.Livro.Capa" style="width:350px; height:550px; border-radius:10px"/>
    </div>
    <div class="conteudo">
        <h2 style="font-size: 22px">@Model.Livro.Titulo</h2>
        <h3>@Model.Livro.Autor</h3>
        <p>@Model.Livro.Descricao</p>
        <h5>Ano Publicação: @Model.Livro.AnoPublicacao</h5>
        <div class="">
            <p>Quantidade em estoque: @Model.Livro.QuantidadeEstoque</p>

            @if(Model.Usuario != null)
            {
                @if(Model.Usuario.Cargo == LojaLivros.Enums.PerfilEnum.Cliente){
                    
                        @if (ViewBag.Emprestimos != "SemEmprestimos")
                        {
                            @if (Model.Usuario.Emprestimos.Where(emprestimo => emprestimo.LivroId == Model.LivroId && emprestimo.DataDevolução == null && emprestimo.Usuario.Id == ViewBag.UsuarioLogado).Count() > 0)
                            {
                                <button type="submit" class="btn btn-warn w-10" style=" border-radius:10px" disabled>
                                    Você já está com esse livro emprestado!
                                </button>
                            }else
                            {
                                <a type="submit" class="btn btn-success w-10" style=" border-radius:10px" asp-action="Emprestar" asp-controller="Emprestimo" asp-route-id="@Model.Livro.Id">
                                    Emprestar
                                </a>
                            }
                        }
                
                        else
                        {
                            <a type="submit" class="btn btn-success w-10" style=" border-radius:10px" asp-action="Emprestar" asp-controller="Emprestimo" asp-route-id="@Model.Livro.Id">
                                Emprestar
                            </a>
                        }
                    
                }else
                {
                    <a type="submit" class="btn btn-primary w-10" style=" border-radius:10px" asp-action="Detalhes" asp-controller="Livro" asp-route-id="@Model.Livro.Id">
                        Verificar detalhes
                    </a>
                }
            }else
            {
                <a type="submit" class="btn btn-danger w-10" style=" border-radius:10px" asp-action="Login" asp-controller="Home">
                    É necessário estár logado para emprestar livros!
                </a>
            }
            
            
            <a type="submit" class="btn btn-primary w-10" style=" border-radius:10px" asp-action="Index" asp-controller="Home">
                voltar
            </a>
        </div>
    </div>

</div>