@model IEnumerable<EmprestimoModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-dark" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-dark" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<div class="album py-5">
    <div class="container">
        
        <div class="text-center mb-5">
            <form method="get" asp-action="Perfil" asp-controller="Cliente" class="d-flex justify-content-center">
                <input name="pesquisar" class="form-control mx-2" style="border: 1px solid black; border-radius:10px; width:450px" />
                <div class="form-check">
                    <fieldset class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Filtro" id="optionsRadios1" value="NDevolvidos" checked="">
                            <label class="form-check-label" for="optionsRadios1">
                                NÃO Devolvidos
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Filtro" id="optionsRadios2" value="Devolvidos">
                            <label class="form-check-label" for="optionsRadios2">
                                Devolvidos
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <input class="form-check-input" type="radio" name="Filtro" id="optionsRadios3" value="Todos">
                            <label class="form-check-label" for="optionsRadios3">
                                Todos
                            </label>
                        </div>
                    </fieldset>
                </div>
                <button type="submit" class="btn btn-primary w-10" style=" border-radius:10px">Pesquisar</button>
               
            </form>
            
        </div>

        -
        @if (ViewBag.Filtro == "NDevolvidos")
                    {
            <h1 class="text-center mb-3">Livros não devolvidos!</h1>
                    }

        @if (ViewBag.Filtro == "Devolvidos")
        {
            <h1 class="text-center mb-3">Livros devolvidos!</h1>
        }

        @if (ViewBag.Filtro == "Todos")
        {
            <h1 class="text-center mb-3">Todos os livros já emprestados!</h1>
        }

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-0">
       
            @if (Model.Count() > 0)
            {

                @foreach (var emprestimos in Model)
                {

                    @if (ViewBag.Filtro == "NDevolvidos")

                    {
                        @if (Model.Where(e => e.DataDevolução == null).ToList().Count() > 0)
                        {
                            @if (emprestimos.DataDevolução == null)
                            {
                                <div class="card card-livros" style="width: 18rem; margin-left: 20px; margin-bottom:20px">
                                    <img src="/imagem/@emprestimos.Livro.Capa" class="card-img-top" alt="..." style="width:178px;height:250px">
                                    <div class="card-body">
                                        <h5 class="card-title">@emprestimos.Livro.Titulo</h5>
                                        <p class="card-text">@emprestimos.Livro.Autor</p>
                                        <p class="card-text">Data empréstimo: @emprestimos.DataEmprestimo</p>
                                        <p class="card-text">Data Devolução: @(emprestimos.DataDevolução == null ? "Não devolvido" : emprestimos.DataDevolução)</p>
                                        @if (emprestimos.DataDevolução == null)
                                        {
                                            <a type="submit" class="btn btn-danger w-100" style="font-size:16px" asp-action="Devolver" asp-controller="Emprestimo" asp-route-id="@emprestimos.Id">Devolver</a>
                                        }
                                        else
                                        {
                                            <a type="submit" class="btn btn-success w-100" style="font-size:16px">DEVOLVIDO</a>
                                        }

                                    </div>
                                </div>
                            }
                        }else
                        {
                            <p class="text-center"> Nenhum livro pendente de devolução!</p>
                        }

                    }








                    @if (ViewBag.Filtro == "Devolvidos")
                    {
                        @if (Model.Where(e => e.DataDevolução != null).ToList().Count() > 0)
                        {
                            @if (emprestimos.DataDevolução != null)
                            {
                                <div class="card card-livros" style="width: 18rem; margin-left: 20px; margin-bottom:20px">
                                    <img src="/imagem/@emprestimos.Livro.Capa" class="card-img-top" alt="..." style="width:178px;height:250px">
                                    <div class="card-body">
                                        <h5 class="card-title">@emprestimos.Livro.Titulo</h5>
                                        <p class="card-text">@emprestimos.Livro.Autor</p>
                                        <p class="card-text">Data empréstimo: @emprestimos.DataEmprestimo</p>
                                        <p class="card-text">Data Devolução: @(emprestimos.DataDevolução == null ? "Não devolvido" : emprestimos.DataDevolução)</p>
                                        @if (emprestimos.DataDevolução == null)
                                        {
                                            <a type="submit" class="btn btn-danger w-100" style="font-size:16px" asp-action="Devolver" asp-controller="Emprestimo" asp-route-id="@emprestimos.Id">Devolver</a>
                                        }
                                        else
                                        {
                                            <a type="submit" class="btn btn-success w-100" style="font-size:16px">DEVOLVIDO</a>
                                        }

                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <p class="text-center"> Nenhum livro pendente de devolução!</p>
                        }

                    }







                    @if (ViewBag.Filtro == "Todos")
                    {

                        
                            <div class="card card-livros" style="width: 18rem; margin-left: 20px; margin-bottom:20px">
                                <img src="/imagem/@emprestimos.Livro.Capa" class="card-img-top" alt="..." style="width:178px;height:250px">
                                <div class="card-body">
                                    <h5 class="card-title">@emprestimos.Livro.Titulo</h5>
                                    <p class="card-text">@emprestimos.Livro.Autor</p>
                                    <p class="card-text">Data empréstimo: @emprestimos.DataEmprestimo</p>
                                    <p class="card-text">Data Devolução: @(emprestimos.DataDevolução == null ? "Não devolvido" : emprestimos.DataDevolução)</p>
                                    @if (emprestimos.DataDevolução == null)
                                    {
                                        <a type="submit" class="btn btn-danger w-100" style="font-size:16px" asp-action="Devolver" asp-controller="Emprestimo" asp-route-id="@emprestimos.Id">Devolver</a>
                                    }
                                    else
                                    {
                                        <a type="submit" class="btn btn-success w-100" style="font-size:16px">DEVOLVIDO</a>
                                    }

                            </div>
                            </div>
                        
                       







                    }
                }

            }else
            {
                <p class="text-center"> Nenhum registro localizado!</p>
            }



        </div>
    </div>
</div>